# Default ignored files
/shelf/
/workspace.xml
/discord.xml
/misc.xml
/MLOPS-Network-Security-System.iml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
